name: GraalVM Native Image builds
on:
  push:
    tags:
      - v*
jobs:
  build:
    name: Target ${{ matrix.os }}-${{ matrix.architecture }}
    runs-on: ${{ matrix.os }}-${{ matrix.architecture }}
    strategy:
      matrix:
        include:
          - os: macos
            architecture: latest
#          - os: windows
#            architecture: aarch64
          - os: windows
            architecture: amd64

          - os: ubuntu
            architecture: 24.04-arm
          - os: ubuntu
            architecture: latest
#          - os: ubuntu-latest
#            architecture: riscv64
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      - name: Creating jar package
        run: mvn package

      - name: Creating native image
        run: native-image -jar target/red-alert-listener-*-jar-with-dependencies.jar

      - name: Rename native image binary
        shell: bash
        run: |
          file=$(ls red-alert-listener*-with-dependencies* 2>/dev/null || echo "")
          if [ -n "$file" ]; then
            if [[ $file == *.* ]]; then
              ext=".${file##*.}"
            else
              ext=""
            fi
            mv "$file" "red-alert-listener-${{ matrix.os }}-${{ matrix.architecture }}${ext}"
          fi

      - name: Upload binary
        uses: actions/upload-artifact@v6.0.0
        with:
          name: red-alert-listener-${{ matrix.os }}-${{ matrix.architecture }}
          path: red-alert-listener*
          compression-level: 9

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/download-artifact@v7.0.0
        name: Downloading artifacts

      - name: Display structure of downloaded files
        run: ls -lGFhR

      - name: Create Release
        uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: red-alert-listener*/*
