name: GraalVM Native Image builds
on:
  push:
    tags:
      - v*
jobs:
  build:
    name: Target ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - runner: macos-latest
            name: macos-x86_64
          - runner: windows-latest
            name: windows-x86_64
#          Failed to download graalvm-jdk-25_windows-aarch64_bin.zip. Are you sure java-version: '25' is correct?
#          - runner: windows-11-arm
#            name: windows-aarch64
          - runner: ubuntu-latest
            name: ubuntu-x86_64
          - runner: ubuntu-24.04-arm
            name: ubuntu-aarch64
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      - name: Creating jar package
        run: mvn package

      - name: Creating native image
        run: native-image -jar target/red-alert-listener-*-jar-with-dependencies.jar

      - name: Rename native image binary
        shell: bash
        run: |
          file=$(ls red-alert-listener*-with-dependencies* 2>/dev/null || echo "")
          if [ -n "$file" ]; then
            if [[ $file == *.* ]]; then
              ext=".${file##*.}"
            else
              ext=""
            fi
            mv "$file" "red-alert-listener-${{ matrix.name }}${ext}"
          fi

      - name: Upload binary
        uses: actions/upload-artifact@v6.0.0
        with:
          name: red-alert-listener-${{ matrix.name }}
          path: red-alert-listener*
          compression-level: 9

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/download-artifact@v7.0.0
        name: Downloading artifacts

      - name: Display structure of downloaded files
        run: ls -lGFhR

      - name: Create Release
        uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: red-alert-listener*/*
